# Reference: https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*, -cppcoreguidelines-owning-memory, -cppcoreguidelines-avoid-do-while, -cppcoreguidelines-avoid-magic-numbers,
  google-*, -google-readability-todo,
  -header,
  hicpp-*,
  llvm-*, -llvm-header-guard,
  misc-*,
  modernize-*, -modernize-use-trailing-return-type,
  performance-*,
  readability-*, -readability-identifier-length, -readability-named-parameter, -readability-magic-numbers
