[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest
